<p id="notice"><%= notice %></p>

<h1>Comments</h1>
<div role="tabpanel" class="tab-pane" id="services-comments">
   <div class="container">   
      <div class="row">
      <% @comments.each do |comment| %>
         <div class="services-comments-grid" data-columns>
            <div class="services-comments-column">               
               <h6><%= comment.title %></h6>
               <p><%= comment.description %></p>               
            </div>
         </div>
         <% end %>
      </div>
   </div>
</div>

<% if current_user.admin? %>
   <%= render 'admin_index' %>
<% end %>

<br>
<% if current_user.client? %>
   <%= link_to 'New Comment', new_comment_path %>
   <br>
   <%= link_to 'back', client_path(current_user.client.id) %> |
<% end %>
<% if current_user.vendor? %>
   <%= link_to 'New Comment', new_comment_path %>
   <br>
   <%= link_to 'back', vendor_path(current_user.vendor) %> |
<% end %>
<%= link_to 'Home', categories_path %>
