<a href="#electrical" style="font-size: 160%;font-family: 'Poiret One', cursive;" class="category-name-homeservice">Repairs</a>&nbsp &nbsp
  <a href="#house" style="font-size: 160%; font-family: 'Poiret One', cursive;" class="category-name-homeservice" >Cleaning</a>&nbsp &nbsp
  <a href="#lawn" style="font-size: 160%; font-family: 'Poiret One', cursive;" class="category-name-homeservice">Yard</a>&nbsp &nbsp
  <a href="#nanny" style="font-size: 160%; font-family: 'Poiret One', cursive;" class="category-name-homeservice">Helpers</a>&nbsp &nbsp
<br><br>
<div class="container-fluid" id="electrical">
   <div class="container">
      <div class="jumbotron">
        <h1>Electrical Works at Home Services</h1>
        <p>Services you can depend on!</p>
        <%= link_to 'Home', categories_path %>   
      </div>        
    </div>
  </div>  
</div>
<div class="container-fluid" id="plumbing">
   <div class="container">
      <div class="jumbotron">
        <h1>Plumbing Works at Home Services</h1>
        <p>Services you can depend on!</p>
        <%= link_to 'Home', categories_path %>   
      </div>      
    </div>
  </div>
</div>
<div class="container-fluid" id="carpentry">
   <div class="container">
      <div class="jumbotron">
        <h1>Carpentry Works at Home Services</h1>
        <p>Services you can depend on!</p>
        <%= link_to 'Home', categories_path %>   
      </div>      
    </div>
  </div>
</div>
<div class="container-fluid" id="house">
   <div class="container">
      <div class="jumbotron">
        <h1>House Cleaning Services at Home Services</h1>
        <p>Services you can depend on!</p>
        <%= link_to 'Home', categories_path %>   
      </div>      
    </div>
  </div>
</div>
<div class="container-fluid" id="windows">
   <div class="container">
      <div class="jumbotron">
        <h1>Windows Cleaning Services at Home Services</h1>
        <p>Services you can depend on!</p>
        <%= link_to 'Home', categories_path %>   
      </div>      
    </div>
  </div>
</div>
<div class="container-fluid" id="carpet">
   <div class="container">
      <div class="jumbotron">
        <h1>Carpet Cleaning Services at Home Services</h1>
        <p>Services you can depend on!</p>
        <%= link_to 'Home', categories_path %>   
      </div>      
    </div>
  </div>
</div>
<div class="container-fluid" id="lawn">
   <div class="container">
      <div class="jumbotron">
        <h1>Lawn Services at Home Services</h1>
        <p>Services you can depend on!</p>
        <%= link_to 'Home', categories_path %>   
      </div>      
    </div>
  </div>
</div>
<div class="container-fluid" id="garden">
   <div class="container">
      <div class="jumbotron">
        <h1>Garden Services at Home Services</h1>
        <p>Services you can depend on!</p>
        <%= link_to 'Home', categories_path %>   
      </div>      
    </div>
  </div>
</div>
<div class="container-fluid" id="pool">
   <div class="container">
      <div class="jumbotron">
        <h1>Pool Services at Home Services</h1>
        <p>Services you can depend on!</p>
        <%= link_to 'Home', categories_path %>   
      </div>      
    </div>
  </div>
</div>
<div class="container-fluid" id="nanny">
   <div class="container">
      <div class="jumbotron">
        <h1>Nanny Services at Home Services</h1>
        <p>Services you can depend on!</p>
        <%= link_to 'Home', categories_path %>   
      </div>      
    </div>
  </div>
</div>
<div class="container-fluid" id="catering">
   <div class="container">
      <div class="jumbotron">
        <h1>Catering Services at Home Services</h1>
        <p>Services you can depend on!</p>
        <%= link_to 'Home', categories_path %>   
      </div>      
    </div>
  </div>
</div>
<div class="container-fluid" id="personal">
   <div class="container">
      <div class="jumbotron">
        <h1>Personal Services at Home Services</h1>
        <p>Services you can depend on!</p>
        <%= link_to 'Home', categories_path %>   
      </div>      
    </div>
  </div>
</div>
