<%= form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :service_name %>
    <%= form.text_field :service_name, id: :service_service_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :service_description %>
  </div>

  <div class="field">
    <%= form.label :rate %>
    <%= form.text_field :rate, id: :service_rate %>
  </div>

  <div class="field">
    <%= form.label :rating %>
    <%= form.text_field :rating, id: :service_rating %>
  </div>

  <div class="field">
    <%= form.hidden_field :vendor_id %>
  </div>
  
  <div class="field">
      <%= form.hidden_field :subcategory_id %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
