<div class="well">
   <div class="row">
      <div class="col-xs-8">
         <h6><%= service.service_name %> <span class="text-right">Hour Rate: </span> 
            <span style="color: green"><%= number_to_currency service.rate %></span></h6> &nbsp
      </div>
      <div class="col-xs-4">
         <%#= form_for order_item, remote: true do |f| %>
         <%= form_with model: order_item do |f| %>
            
            <!-- div class="input-group" -->
               <%#= f.number_field :quantitly, value: 0, class: "form-control", min: 1 %>             
               <!-- div class="field"  -->
                   <%= f.label :quantity, value: "Hours" %>
                   <%= f.number_field :quantity, max: "100", size: 4, value: 0, id: :order_item_quantity %>
                 <!-- /div -->
               
               
               <%= f.hidden_field :unit_price, value: service.rate %>
               <%= f.hidden_field :service_id, value: service.id %>
               <%= f.hidden_field :order_id, value: current_order.id %>
               <!-- div class="input-group-btn" -->           
               <%= f.submit "Add to Cart", class: "btn btn-primary" %>
               <!-- /div -->
            <!-- /div -->
         <% end %>
      </div>
   </div>
</div>