<p id="notice"><%= notice %></p>

<% if @client.nil? %>
   <h4>You need to create client</h4>
   <%= link_to '<button type="button">Create Client</button>'.html_safe, new_user_client_path(current_user.id) %>
<% else %>
  <strong>Credit card:</strong>
  <%= @client.credit_card %>
  <%= link_to 'Edit', edit_client_path(@client) %> 
  <br>
  <%= link_to '<button type="button">All Comments</button>'.html_safe, comments_path %>
  <br>
  <%= link_to '<button type="button">New Comment</button>'.html_safe, new_client_comment_path(@client) %>
<% end %>
<br>
<br>
<%= link_to 'back', user_path(current_user.id) %> | 
<%= link_to 'Home', categories_path %>
