
<% if current_user.role == 1 %>
   <h3>Welcome  <%= current_user.fullname %> as a client</h3>
<% end %>
<% if current_user.role == 2 %>
   <h3>Welcome <%= current_user.fullname %> as a Vendor</h3>
<% end %>
<br>
<table id="users" class="datatable table table-striped table-bordered" >
  <thead>
    <tr>
      <th>Email</th>
      <th>First Name</th>
      <th>Last Name</th>
      <% if current_user.admin %>
      <th>Id</th>
      <th>Role</th>    
      <th>Admin</th> 
      <% end %>   
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% if current_user.admin %>
    <% @users.each do |user| %>
      <tr>       
        <td><%= user.email %></td>
        <td><%= user.firstname %></td>
        <td><%= user.lastname %></td>
        <td><%= user.id %></td>
        <td><%= user.role %></td>
        <td><%= user.admin %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  <% else %>
      <tr>
       <td><%= current_user.email %></td>
       <td><%= current_user.firstname %></td>
       <td><%= current_user.lastname %></td>
    
       <td><%= link_to 'Show', current_user %></td>
       <td><%= link_to 'Edit', edit_user_path(current_user) %></td>
     </tr> 
  <% end %>
  </tbody>
</table>

<%= link_to 'Home', categories_path %>

 