<p id="notice"><%= notice %></p>

<p>
  <strong>Unit price:</strong>
  <%= @order_item.unit_price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order_item.quantity %>
</p>

<p>
  <strong>Total price:</strong>
  <%= @order_item.total_price %>
</p>

<p>
  <strong>Client:</strong>
  <%= @order_item.client %>
</p>

<p>
  <strong>Service:</strong>
  <%= @order_item.service %>
</p>

<%= link_to 'Edit', edit_order_item_path(@order_item) %> |
<%= link_to 'Back', order_items_path %>
