<div class="container">
<div class="well">
   <div class="row">
      <div class="col-xs-8">
         <h6><%= service.service_name %></h6>
      </div>
      <div class="col-xs-4">
         <%= form_for order_item, remote: true do |f| %>
            <h6 class="text-right">Hour Rate: <span style="color:green"><%= number_to_currency order_item.unit_price %></span></h6>
            <div class="row">
               <div class="col-xs-4">
                  <%= f.number_field :quantity, value: order_item.quantity.to_i, class: "form-control", min: 1 %>
                  <%= hidden_field :service_id, value: service.id %>
               </div>
               <div class="col-xs-8 text-right">
                  <div class="btn-group">
                     <%= f.submit "Update Hours", class: "btn btn-primary" %>
                     <%= link_to "Delete", order_item, { data: { confirm: "Are you sure you wish to delete the service '#{order_item.service.service_name}' from your cart?" }, method: :delete, remote: true, class: "btn btn-danger" } %>         
                  </div>
               </div>
            </div>
            <h6 class="text-right">Subtotal : <span style="color: green"><%= number_to_currency order_item.total_price %></span></h6>
         <% end %>
      </div>
   </div>
</div>
</div>